
.card {
  height: 380px;
  width: 500px;
}

.close_1 {
  position: relative;
  left: 120px;
  top: 10px;
  color: rgb(134, 132, 132);
  font-size: 25px;
}
.title1 {
  margin-left: 50px;
  margin-top: 40px;
  font-weight: 200;
}

.login {
  position: relative;
  top: 95px;
  right: 10px;
  margin-left: 95px;
  margin-right: 95px;
  background-color: rgb(255, 113, 30);
  color: white;
}

.password {
  position: relative;
  top: 30px;
  width: 400px;
  left: 55px;
}
.username {
  width: 400px;
  position: relative;
  left: 55px;
  top: 20px;
}
.u_req {
  color: red;
  font-size: 14px;
  position: absolute;
  left: 56px;
  top: 160px;
  display: none;
}
.req_warning {
  display: block;
}
.u_longer {
  color: red;
  font-size: 14px;
  position: absolute;
  top: 160px;
  left: 56px;
  display: none;
}
.longer_warning {
  display: block;
}
.pass_req {
  color: red;
  font-size: 14px;
  position: absolute;
  top: 243px;
  left: 56px;
  display: none;
}
.req_warning {
  display: block;
}
.pass_long {
  color: red;
  font-size: 14px;
  position: absolute;
  top: 243px;
  left: 56px;
  display: none;
}
.long_warning {
  display: block;
}


.saved {
  color: red;
  font-size: 25px;
  position: absolute;
  top: 340px;
  left: 140px;
  display: none;
}
.cancel {
  display: block;
}

.success{
  color:rgb(4,170,109);
  position: absolute;
  top: 340px;
  left: 90px;
 font-size: 25px;
display: none;
}
.successful {
  display: block;
}

.table {
  padding: 0;
}
.footer{
  background-color:rgb(255, 250, 250);
height: 90vh;
padding: 0;
margin: 0;
}

.lists{
  display: inline-block;
  padding: 20px 30px;
}
.lists:hover{
  color: rgb(255,113,30);
  text-decoration:underline;
}

