.user{
  
       height: 95vh;
       background-color: blue;
     overflow-y: scroll;
}

@media only screen and (max-width: 430px) {
  .user{
  
    height: 86vh;
    background-color: blue;
  overflow-y: scroll;
}
}