.tit_B {
  font-size: 15px;
  color: white;
  margin-top: 9px;
}
.form {
  height: 22%;
  width: 98.6%;
  margin-left: 10px;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(241, 240, 240);
}
.validate {
  height: 100vh;
  overflow: hidden;
}
/* username */
.name_txt {
  position: relative;
  left: 20px;
  font-size: 13px;
}
.username {
  width: 95%;
  height: 30px;
  position: relative;
  left: 20px;
  border: 1px solid black;
}
.name_req {
  position: absolute;
  bottom: -10px;
  left: 35px;
  color: red;
}
.namespace_start {
  position: absolute;
  bottom: -11px;
  left: 35px;
  color: red;
  line-height: 12px;
}
.namespace_end {
  position: absolute;
  bottom: -11px;
  left: 35px;
  color: red;
  line-height: 12px;
}
.namelimit_above {
  position: absolute;
  bottom: -10px;
  color: red;
  left: 35px;
}
.namelimit_below {
  position: absolute;
  bottom: -10px;
  color: red;
  left: 35px;
}
.nameletters_only {
  position: absolute;
  bottom: -11px;
  left: 35px;
  color: red;
  line-height: 12px;
}

/* email */
.email {
  width: 95%;
  height: 30px;
  position: relative;
  left: 10px;
  border: 1px solid black;
}
.email_txt {
  position: relative;
  left: 10px;
  font-size: 13px;
}
.email_req {
  position: absolute;
  bottom: -10px;
  left: 25px;
  line-height: 12px;
  color: red;
}
.emailstart_space {
  position: absolute;
  bottom: -11px;
  left: 36px;
  line-height: 12px;
  color: red;
}
.emailend_space {
  position: absolute;
  bottom: -11px;
  left: 35px;
  color: red;
  line-height: 12px;
}
.invalid_email {
  position: absolute;
  bottom: -10px;
  left: 35px;
  color: red;
  line-height: 12px;
}

/* phone */

.phone_txt {
  font-size: 13px;
  position: relative;
  left: 1px;
}
.phoneno {
  width: 95%;
  height: 30px;
  position: relative;
  border: 1px solid black;
}
.no_req {
  color: red;
  position: absolute;
  left: 17px;
  bottom: -10px;
  line-height: 12px;
}
.digits_only {
  position: absolute;
  color: red;
  left: 20px;
  bottom: -10px;
  line-height: 12px;
}
.phoneno_limit {
  color: red;
  position: absolute;
  left: 20px;
  bottom: -10px;
  line-height: 12px;
}
.nospace_start {
  color: red;
  position: absolute;
  left: 27px;
  bottom: -11px;
  line-height: 12px;
}
.nospace_end {
  color: red;
  position: absolute;
  left: 27px;
  bottom: -11px;
  line-height: 12px;
}

/* age */
.age_txt {
  font-size: 13px;
}
.age_input {
  height: 30px;
  width: 95%;
  border: 1px solid black;
}

.age_req {
  color: red;
  position: absolute;
  left: 13px;
  bottom: -12px;
  line-height: 12px;
}
.age_warning {
  color: red;
  position: absolute;
  left: 13px;
  bottom: -14px;
  line-height: 14px;
}
/* dob */
.dob_txt {
  font-size: 13px;
}
.dob_input {
  height: 30px;
  width: 95%;
  position: relative;
  border: 1px solid black;
}
.date_req {
  position: absolute;
  left: 20px;
  bottom: -12px;
  line-height: 12px;
  color: red;
}

.date_warning {
  color: red;
  position: absolute;
  left: 20px;
  bottom: -12px;
  line-height: 12px;
}
/* address */
.address_txt {
  font-size: 13px;
}
.address_input {
  height: 30px;
  width: 93.5%;
  border: 1px solid black;
}
.address_req {
  color: red;
  position: absolute;
  left: 20px;
  bottom: -12px;
  line-height: 12px;
}
.addressspace_start {
  position: absolute;
  left: 20px;
  bottom: -12px;
  line-height: 12px;
  color: red;
}
.addressspace_end {
  position: absolute;
  left: 20px;
  bottom: -12px;
  line-height: 12px;
  color: red;
}
.addresslimit_above {
  position: absolute;
  left: 20px;
  bottom: -12px;
  line-height: 12px;
  color: red;
}
.addresslimit_below {
  position: absolute;
  left: 20px;
  bottom: -12px;
  line-height: 12px;
  color: red;
}
.address_warning{
  position: absolute;
  color: red;
  left: 20px;
  bottom: -10px;
  line-height: 12px;
}
input[type="date"] {
  font-size: 11.5px;
}
input,
input::-webkit-input-placeholder {
  font-size: 13px;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.submit {
  position: absolute;
  left: 5px;
  font-size: 12px;
}
.tbl {
  padding: 0;
  margin-left: 10px;
}

.heading {
  background-color: #28a8e0;
  color: white;
  height: 35px;
  font-size: 16px;
}

.tbdy {
  display: block;
  max-height: 395px;
}
thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead {
  width: calc(100% - 1em);
}
.overlay {
  position: fixed;
  width: 20%;
  height: 20%;
  top: 60%;
  left: 40%;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 2;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.successfully {
  font-size: 50px;
  color: rgb(25, 135, 84);
}

/* media */

@media only screen and (max-width: 1127px) {
  .name_req{
font-size: 13px;
  }
  .email_req{
    font-size: 13px;
  }
  .no_req{
    font-size: 13px;
  }
  .age_req{
    font-size: 13px;
  }
  .date_req{
    font-size: 13px;
  }
  .address_req{
    font-size: 13px;
  }
}
@media only screen and (max-width: 1060px) {
  .name_req{
font-size: 13px;
line-height: 11px;
bottom: -10px;
  }
  .age_warning{
    font-size: 12px;
  }
  .phoneno_limit{
  font-size:13px ;
}
}
@media only screen and (max-width: 985px) {
  .age_req{
    bottom: -15px;
    line-height: 8px;
  }
.namespace_start{
  font-size: 13px;
}
.namespace_end{
  font-size: 13px;
}
.emailstart_space{
  font-size: 13px;
}
.emailend_space{
  font-size: 13px;
}
}
@media only screen and (max-width: 878px) {
  .namespace_start{
    font-size: 12px;
  }
  .namespace_end{
    font-size: 12px;
  }
  .emailstart_space{
    font-size: 12px;
  }
  .emailend_space{
    font-size: 12px;
  }
 
  }

