@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Quicksand:wght@300&display=swap");

* {
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.sidebar.close .link_name {
  display: none;
}
.hidden{
    display: none;
}


.sidebar {
  width: 240px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 6px 14px;
  background-color: black;
  transition: width 0.3s;
  transition-timing-function: ease;
}

.sidebar.close {
  width: 78px;
  transition: width 0.3s;
  transition-timing-function: ease;
}

.sidebar .logo_cnt .logo {
  display: flex;
  width: 100%;
  height: 50px;
  color: #fff;
  align-items: center;
}

.logo_cnt .logo i {
  font-size: 32px;
  margin-right: 10px;
}

.logo_cnt .logo .logo_name {
  font-size: 20px;
  font-weight: 400;
}

.sidebar .btn {
  position: absolute;
  color: #fff;
  font-size: 20px;
  left: 90%;
  top: 1px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}

.sidebar .inactive {
  left: 50%;
  transform: translateX(-50%);
}

.sidebar ul {
  margin-top: 50px;
}

.sidebar ul li {
  height: 70px;
  position: relative;
  width: 100%;
  margin: 0 5px;
}

.sidebar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
}

.sidebar ul li a:hover {
  color: black;
  background-color: #fff;
 
}
.sidebar ul li a i {
  height: 50px;
  line-height: 50px;
  min-width: 50px;
  border-radius: 12px;
  text-align: center;
}

.sidebar ul li input {
  position: absolute;
  height: 75%;
  width: 100%;
  top: 0;
  left: 0;
  outline: none;
  border-radius: 12px;
  border: none;
  background-color: rgb(31, 30, 30);
  color: #fff;
  padding-left: 50px;
}

.sidebar ul li .search {
  position: absolute;
  z-index: 90;
  margin-top: 50px;
  color: #fff;
  font-size: 19px;
}

.sidebar .profile_cnt {
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}
.sidebar .profile_cnt .hide{
       display: none;
}

.sidebar .profile_cnt .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
  border-radius: 12px;
  background-color: rgb(31, 30, 30);
}
.sidebar .profile_cnt .profile.profile_1{
  padding: 10px 6px;
  height: 60px;
 margin-right: 17px;
} 

.profile_cnt .profile .profile_details {
  display: flex;
  align-items: center;
}

.profile .profile_details .pfl {
  height: 45px;
  width: 45px;
  border-radius: 12px;
  object-fit: cover;
  position: absolute;
  bottom: 7px;
}

.profile .profile_details .profile_name {
  margin-right: 50px;
  font-size: 15px;
  font-weight: 400;
}
.profilecnt_none{
  display: none;   
}

.profile .profile_details .name_job {
  margin-left: 60px;
}

.profile .profile_details .job{
  font-size: 12px;
}



.profile .logout {
  position: absolute;
  top: 5px;
  left: 98%;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
}




.sidebar .nav_list li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar .nav_list {
  padding: 0;
}

/* tooltip */
.sidebar li .tooltips{
    position: absolute;
  left: 170px;
  top: 0%;

  transition: 0s;
  border-radius: 6px;
  transform: translateX(-50%);
  height: 35px;
  width: 122px;
  line-height: 35px;
  background-color: #fff !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  opacity: 0;
  pointer-events: none;
}

.sidebar.close li:hover .tooltips {
  top: 10%;
  transition: all 0.3s ease;
  opacity: 1;
}
