@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Quicksand:wght@300&display=swap");

* {
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navbar{
  background-color: black;
   width: 100%;
  } 
  .bg-light{
    background-color: black!important;
  }
  .container-fluid{
    color: #fff;
  }
  .lg{
    font-size: 30px;
    position: fixed;
    left: 70px;
    top: 6px;
  }
  .logo_name{
    position: fixed;
    left: 110px;  
  top: 6px;
  }
  .btn{
    padding: 3px 15px;
    font-size: 16px;
  }
  

.sidebar {
  width: 78px;
  height: 100vh !important;
  top: 0;
  left: 0;
  padding: 6px 14px;
  background-color: black;
  transition: width 0.3s;
  transition-timing-function: ease;
  overflow-y: scroll;
  overflow-x: hidden;
}
.sidebar.close {
  width: 240px;
  transition: width 0.3s;
  transition-timing-function: ease;
}

.sidebar .logo_cnt {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  left: 0;

  background-color: black;
}

.sidebar.close .logo_cnt {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  left: 0;
  background-color: black;
  transition: 0.3s ease;

}

.sidebar .logo {
  display: flex;
  width: 100%;
  height: 50px;
  color: #fff;
  align-items: center;
  opacity: 0;
  position: relative;
  left: 65px;
  top: 4px;
 
}

.sidebar.close .logo_cnt .logo {
  opacity: 1;
}

.logo_cnt .logo i {
  font-size: 32px;
  margin-right: 10px;
 
}

.logo_cnt .logo .logo_name {
  font-size: 20px;
  font-weight: 400;
 
}


.sidebar .bar {
  position: absolute;
  color: #fff;
  font-size: 20px;
  margin-left: 40px;
  bottom: 5px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 60px;
  transform: translateX(-50%);
}

.sidebar .logo{
  display: flex;
 justify-content:start;
}

.sidebar .link_name {
  opacity: 0;
}
.sidebar.close .link_name {
  opacity: 1;
}

.sidebar ul {
  margin-top: 120px;
}

.sidebar ul li {
  height: 70px;
  position: relative;
  width: 100%;
  margin: 0 5px;
}

.sidebar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
}

.sidebar ul li a:hover {
  color: black;
  background-color: #fff;
}

.sidebar ul li a i {
  height: 50px;
  line-height: 50px;
  min-width: 50px;
  border-radius: 12px;
  text-align: center;
}

.sidebar ul li input {
  position: absolute;
  height: 75%;
  width: 100%;
  top: 0;
  left: 0;
  outline: none;
  border-radius: 12px;
  border: none;
  background-color: rgb(31, 30, 30);
  color: #fff;
  padding-left: 50px;
}

.sidebar ul li .search {
  position: absolute;
  z-index: 90;
  margin-top: 50px;
  color: #fff;
  font-size: 19px;
}

.sidebar .profile_cnt {
  position: relative;
  top: 220px;
  color: #fff;
  left: 0px;
  margin-bottom: 280px;
}
.sidebar .profile_cnt .hide {
  display: none;
}

.sidebar .profile_cnt .profile {
  padding: 10px 6px;
  height: 60px;
  border-radius: 12px;
  background-color: rgb(31, 30, 30);
}

.profile_cnt .profile .profile_details {
  display: flex;
  align-items: center;
  opacity: 0;
}
.sidebar.close .profile .profile_details {
  opacity: 1;
  display: flex;
  align-items: center;
  margin-bottom: 292px;
}

.profile .profile_details .pfl {
  height: 45px;
  width: 45px;
  border-radius: 12px;
  object-fit: cover;
  position: absolute;
  bottom: 7px;
}

.profile .profile_details .profile_name {
  margin-right: 50px;
  font-size: 15px;
  font-weight: 400;
}

.profile .profile_details .name_job {
  margin-left: 60px;
}

.profile .profile_details .job {
  font-size: 12px;
}

.profile .logout.change {
  top: 5px;
  left: 98%;
  position: absolute;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 24px;
}
.profile .logout {
  position: relative;
  bottom: 4px;
  position: absolute;
  right: 30%;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  transform: rotate(180deg);
}

.sidebar .nav_list li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar .nav_list {
  padding: 0;
}

/* tooltip */
.sidebar ul li .tooltips {
  top: 0%;
  left: 270px;
  border-radius: 6px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 122px;
  line-height: 35px;
  background-color: #fff;
  transition: 0s;
  opacity: 1;
  text-align: center;
  display: none;
}



.sidebar.close ul li .tooltips {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}
body {
  overflow: hidden;
}
.sidebar .chevron_down {
  display: none;
}
.sidebar.close .chevron_down {
  left: 75px;
  transform: translateY(-50%) ;
  position: relative;
  top: 24px;
  font-size: 20px;
  display: block;
}
.sidebar.close .chevron_down_1{
  display: none;
}
.sidebar.close .chevron_down_1{
  left: 65px;
  transform: translateY(-50%) ;
  position: relative;
  top: 24px;
  font-size: 20px;
  display: block;
}

.menulist {
  display: none;
  background-color: #262626;
  position: relative;
  bottom: 10px;
}

.menuopen {
  display: block;
  width: 214px;
  height: 130px;
}
.sub {
  position: relative;
  top: 15px;
  left: 40px;
  line-height: 30px;
  color: #818181;
}
.sub:hover {
  color: #f1f1f1;
}
.menulist_1 {
  display: none;
  background-color: #262626;
  position: relative;
  bottom: 10px;
}

.menuopen_1 {
  display: block;
  width: 214px;
  height: 130px;
}
.sub_1 {
  position: relative;
  top: 15px;
  left: 40px;
  line-height: 30px;
  color: #818181;
}
.sub_1:hover {
  color: #f1f1f1;
}



@media only screen and (max-width: 1701px) {
  .sidebar .profile_cnt {
    position: relative;
    top: 220px;
    color: #fff;
    left: 0px;
  }
}
@media only screen and (max-width: 1242px) {
  .sidebar {
    width: 0px;
    height: 100vh !important;
    top: 0;
    left: 0;
    padding: 6px 14px;
    background-color: black;
    transition: width 0.3s;
    transition-timing-function: ease;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 0px;
    padding-right: 0px;
  }
  .sidebar.close {
    padding: 6px 14px;
  }
}

@media only screen and (max-width: 540px) {
  .sidebar.close {
    position: absolute;
    z-index: 1000;
  }
  .sidebar {
    position: absolute;
  }
}
