.msg{  
       height: 95vh;
       background-color: darkviolet;
       overflow-y: scroll;
}
@media only screen and (max-width: 430px) {
       .msg{  
              height: 85vh;
              background-color: darkviolet;
              overflow-y: scroll;
       }
}